@charset "UTF-8";

body{
    padding: 0;
    margin: 0;
}
p{
    font-family: "M PLUS 1p";
    color: black;
}

/*ヘッダーアイコンの表示*/
.accordion-area{
    list-style: none;
}
.box{
    z-index: 10000;
    border: solid 1px #000;
    border-radius: 1rem;
    position: absolute;
    top: 15%;
    left: 83%;
    background: #f3f3f3;
    display: none;
}
.login-ms{
    color: #000;
    margin: 8px;
    font-size: 26px;
    text-align: center;
}

.login{
    cursor: pointer;
    transition: all .5s ease;
    
}
.login.close::before{
  transform: rotate(45deg);
}

.login.close::after{
  transform: rotate(-45deg);
}
.login :hover{
    opacity: 0.7;
}
.login p{
    font-weight: 400;
    margin-top: 15px ;
}
.login_icon{
    max-width: 43px;
    max-height: 38px;
    margin: 5px 10px 0 0;
}
.header{
    margin: 0 30px;
}
.header h1{
    font-family: "Dela Gothic One";
}
.main-container{
    padding: 10px 50px 0;
}
.main-container p{
    font-size: 20px;
}
.fp{
    margin-top: 10px;
    font-weight: bolder;
}
.text-box{
    width: 200px;
    height: 50px;
}
.log-title{
    color: #000;
}
.d-flex h4{
    text-align: center;
    color: #ff0000;
    font-size: 48px;
}
.d-flex img{
    margin-left: 3px;
    width: 280px;
    height: 245px;
}
#point_count .fp{
    height: 6px;
}
